/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../../public/appBack.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    color: #aeaeaf;
}

h1, h2 {
    text-align: center;
    color: #090a0a;
}

header {
    background-color: rgba(29, 122, 133, 0.9); /* Semi-transparent background */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    width: 180px; /* Set logo size */
    margin-right: 40px;
}
.logo1 {
    width: 180px; /* Set logo size */
    margin-right: 0px;
}

.school-info h1 {
    font-size: 24px;
    margin: 0;
}

.school-info p {
    font-size: 14px;
    margin: 0;
}

/* Form Section */
.form-section {
    max-width: 900px;
    margin: 40px auto;
    background-color: #f7f7f7; /* Light background color */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    color: #1d7a85;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="date"], .form-group input[type="file"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #aeaeaf;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.form-group input[type="file"] {
    padding: 5px;
}

.submit-btn {
    background-color: #1d7a85;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #179685;
}

/* Image Preview Styles */
.image-preview {
    display: none;
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #aeaeaf;
    border-radius: 4px;
}

/* Footer Styles */
footer {
    background-color: #1d7a85;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 60px; /* Smaller logo on mobile */
    }

    .form-section {
        padding: 20px;
    }

    .form-group input[type="text"], .form-group input[type="email"], .form-group input[type="date"], .form-group input[type="file"] {
        padding: 10px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }
}
